<?xml version="1.0" encoding="utf-8" ?>
<nlog xmls="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="C:\dotNET\Repo\GIT\internal-nlog.txt">
	<!-- enable aspnet core layout renderers-->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	
	<!-- the targets to write to-->
	<targets>
		<!-- write logs to file-->
		<target xsi:type="File"
				name="exceptions"
				fileName="C:\dotNET\Repo\GIT\FloweryGladeAPILogs\nlog-all-exceptions-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_id}
				|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="File"
				name="allfile"
				fileName="C:\dotNET\Repo\GIT\FloweryGladeAPILogs\nlog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_id}
				|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	<!-- rules to map from logger name to target-->
	<rules>
		<!-- All logs, including from Microsoft-->
		<logger name="FlowerShopAPI.*"
				minlevel="Error"
				writeTo="exceptions"
		/>
		<logger name="*"
				minlevel="Info"
				writeTo="allfile"
		/>
	</rules>
</nlog>